<div class="vertical-center col-md-6 col-xs-12 col-lg-5">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
  <br />
  <div class="copyright">
    IO-View - IO-Engage &copy; 2015
  </div>
</div>